div#hilite-res {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

p.result-elems {
    padding: 15px 10px 15px 10px;
    margin: 2.5%;
    border-left: 5px solid #FF4500;
    background-color: #f0f0f0;
}

button#download-button {
    background-color: #ff4500;
    color: white;
    font-weight: 700;
    border: none;
    padding: 15px;
}

#download-button:hover {
    background-color: #ff8457;
    color: black;
}
