backoff
bokeh==2.4.2
blinker
ci-info==0.2.0
click-plugins==1.1.1
cligj==0.7.2
configobj==5.0.6
configparser==5.2.0
distro==1.8.0
elasticsearch==7.13.3
etelemetry==0.3.0
fiona==1.8.21
flask==2.3.2
flask-bootstrap==3.3.7.1
flask-mail==0.9.1
flask-simple-geoip==0.2.4
geojson==2.5.0
geopandas==0.10.2
ghostscript==0.7
ipaddress==1.0.23
isodate==0.6.1
looseversion==1.0.1
munch==2.5.0
nibabel==3.2.2
nipype==1.8.1
opencv-python==4.6.0.66
prov==2.0.0
pydot==1.4.2
pymupdf==1.19.0
pypdf2==2.2.0
pyproj==3.3.1
python-decouple==3.6
pyxnat
rdflib==6.1.1
shapely==1.8.2
simple-geoip==0.1.1
textract
traits==6.3.2
