aiohttp==3.7.4.post0
asgiref==3.2.7
astroid==2.4.2
async-timeout==3.0.1
atom==0.6.0
attrs==20.2.0
backoff==1.10.0
bcrypt==3.2.0
blinker==1.4
bokeh==2.2.2
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
click-plugins==1.1.1
cligj==0.6.0
configobj==5.0.6
configparser==5.0.1
cryptography==3.1.1
decorator==4.4.2
distro==1.5.0
Django==3.0.3
dominate==2.5.2
elasticsearch==7.9.1
etelemetry==0.2.2
filelock==3.0.12
Fiona==1.8.4
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Mail==0.9.1
Flask-Simple-GeoIP==0.2.4
future==0.18.2
geojson==2.5.0
geopandas==0.9.0
ghostscript==0.6
google-api-core==1.22.2
google-api-python-client==1.12.3
google-auth==1.22.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==4.0.1
iniconfig==1.1.1
ipaddress==1.0.23
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
lxml==4.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
multidict==4.7.5
munch==2.5.0
networkx==2.5
nibabel==3.2.0
nipype==1.5.1
numpy==1.19.2
oauth2client==4.1.3
packaging==20.4
pandas==1.1.3
Pillow==8.0.0
pkg-resources==0.0.0
pluggy==0.13.1
protobuf==3.15.8
prov==1.5.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydot==1.4.1
pydotplus==2.0.2
PyDrive==1.3.1
pylint==2.6.0
PyMuPDF==1.18.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==3.0.1
pyshp==2.1.2
PySocks==1.7.1
pytesseract==0.3.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.1
pyxnat==1.3
PyYAML==5.3.1
rdflib==5.0.0
requests==2.24.0
rope==0.18.0
rsa==4.6
scipy==1.5.3
Shapely==1.6.4
simple-geoip==0.1.1
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traits==6.1.1
typed-ast==1.4.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.11
visitor==0.1.3
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.6.2
zipp==3.4.1
zstd==1.4.5.0