<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link rel = "icon" href =  "https://www.ucdavis.edu/sites/all/themes/ucd_one/favicon.ico" type = "image/x-icon">

    <title>Results Highlighted</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/cssjs/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/cssjs/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/cssjs/css/general-template.css">
    <link rel="stylesheet" type="text/css" href="/static/cssjs/css/highlight-result.css">

  </head>
  
  <body onload="display_result(result, new_filename)">

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <nav class="main-nav">
        <div class="video-overlay header-text">
          <div class="threed">
            <center>
              <a href="results.html" class="logo" style=" color:white;">California General Plan <em> Database Mapping Tool </em></a></center>
          </div>
        </div> 
        <a class='menu-trigger'>
            <span>Menu</span>
        </a>
      </nav>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Results Area Begin *****-->
    <section class="section" id="results">
      <div class="section-heading">
      <h2>Results for: {{words | safe}}</h2>
      <h3>In: {{city | safe}}</h3>
      <div id="hilite-res">
        
      </div>
      <button id="download-button">
        <a href="/outp/{{pdf|safe}}/{{words|safe}}" target="_blank">View and Download PDF here!</a>
      </button>
      </div>
    </section>
    <!-- ***** Results Area End *****-->

  </body>


  <!-- ***** Footer Start ***** -->
  <footer>
    <p><a rel="nofollow" href=" https://plansearch.caes.ucdavis.edu/" class="tm-text-link" target="_parent">https://plansearch.caes.ucdavis.edu/</a></p>
  </footer>
  <!-- ***** Footer End ***** -->

  <script type="text/javascript">
    var result = {{results | safe}};
    var file_name = "{{pdf | safe}}";
    var new_filename = file_name.replace(".pdf", ".txt");
    console.log(result);
    console.log(new_filename);

    function display_result(result, new_filename) {
      var hilite_file = result[new_filename];
      if (!hilite_file) {
        console.log("Filename not found!");   // figure out what to display if something goes wrong
      } else {
        for (var i = 0; i < hilite_file.length; i++) {
          var elem = document.createElement("p");
          elem.innerHTML = hilite_file[i];
          elem.setAttribute('class','result-elems');
          document.getElementById("hilite-res").appendChild(elem);
        }
      }
    }
  </script>

  <!-- Google analytics Tag -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ESMKVWZ0K0"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ESMKVWZ0K0');
  </script>
  
</html>