<!DOCTYPE html>
<html lang="en" style="background-image:url(/static/images/background.png);">

  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <link rel = "icon" href =  "https://www.ucdavis.edu/sites/all/themes/ucd_one/favicon.ico" type = "image/x-icon">

    <title>No results</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/cssjs/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/cssjs/css/font-awesome.css">
    <link rel="stylesheet" href="/static/cssjs/css/general-template.css">

    </head>
    
    <body>
    
     <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <nav class="main-nav">
            <div class="image-overlay header-text">
                <div class="threed">
                    <a href="" class="logo" style=" color:white;margin-left: 250px">California General Plan  <em> Database Mapping Tool </em></a>
                </div>
            </div> 
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
        </nav>
    </header>
    <!-- ***** Header Area End ***** -->



    <!-- ***** No match Start ***** -->
    <section class="section" style="background-image:url(/static/images/background.png);">
        
            <div class="section-heading">
            <br><br><br><br><br>
            
                <h2 style="color: white">No matches found</h2>
            </div>
          
    </section>
    <!-- ***** No match End ***** -->



    <!-- jQuery -->
    <script src="/static/cssjs/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/cssjs/js/popper.js"></script>
    <script src="/static/cssjs/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/cssjs/js/scrollreveal.min.js"></script>
    <script src="/static/cssjs/js/waypoints.min.js"></script>
    <script src="/static/cssjs/js/jquery.counterup.min.js"></script>
    <script src="/static/cssjs/js/imgfix.min.js"></script> 
    <script src="/static/cssjs/js/mixitup.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/cssjs/js/custom.js"></script>
    <script>
      setTimeout("history.back()", 1500)
    </script>
    
  </body>
</html>